<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="flex min-h-screen">

        <aside class="w-64 bg-white shadow-md">


            <div class="p-4">

                <h2 class="text-lg font-semibold mb-4">Menu</h2>


                <nav class="flex flex-col space-y-2">


                    <a href="" class="bg-gray-200 rounded  px-3 py-2 ">Profile</a>


                    <a href="{% url "edit-profile" %}" class=" hover:bg-gray-100 rounded px-3 py-2">Edit Profile</a>

                    <a href="{% url "change-password" %}" class=" hover:bg-gray-100 rounded px-3 py-2 ">Change Password</a>
                    <a href="{% url "home" %}" class=" hover:bg-gray-100 rounded px-3 py-2 ">Back</a>
                </nav>

            </div>
        </aside>

        
        <main class="flex-1 p-8">

            <h1 class="text-2xl font-semibold mb-6">User Profile</h1>


            <div class="bg-white rounded-lg shadow p-6">
        

                <div class="flex items-center space-x-4 mb-6">


                    <img src="https://i.ibb.co/4pDNDk1/avatar.png" alt="Avatar" class="w-16 h-16 rounded-full">
                    <div>

                        <h2 class="text-xl font-semibold">{{ request.user.get_full_name }}</h2>


                    </div>
                </div>


                <div class="grid grid-cols-2 gap-6">
                    <div>

                        <h3 class="font-semibold mb-2">Personal Information</h3>

                        <p><strong>Username:</strong>{{user.username}}</p>

                        <p><strong>Phone:</strong> {{ profile.phone_num }}</p>
                    </div>
                </div>


            </div>
        </main>

    </div>

</body>
</html>