
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex bg-gray-100  items-center justify-center h-screen">

    <div class="text-center">

        <h1 class="text-6xl font-bold text-red-600">404</h1>

        <p class="text-2xl mt-4 text-gray-700">Oops! Page not found.</p>


        <p class="mt-2 text-gray-500">The page you are looking for doesn’t exist or has been moved.</p>


        <a href="{% url "home" %}" class="  text-white mt-6 inline-block px-6 rounded hover:bg-blue-700 py-2 bg-blue-600">Go to Home</a>

        
    </div>
</body>
</html>
